*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.header a{
    text-decoration: none;
    font-size: 18px;
    width: 10px;
    height: 10px;
    background-color:rgba(57, 33, 33, 0.267);
    color: rgb(56, 77, 77);
    margin: 10px;
border-radius: 4px;
}